.available-locations {
    width: 100%;
    padding: 0 30px 30px;
}

.locations-map {
    height: 560px;
    width: 100%;
    border: 2px solid white;
    margin-top: 16px;
}

.locations-map .leaflet-interactive {
    cursor: pointer;
}
